:root {
  --shiki-color-text: theme('colors.bubblegum');
  --shiki-token-constant: theme('colors.bubblegum');
  --shiki-token-string: theme('colors.bubblegum');
  --shiki-token-comment: theme('colors.bubblegum');
  --shiki-token-keyword: theme('colors.bubblegum');
  --shiki-token-parameter: theme('colors.bubblegum');
  --shiki-token-function: theme('colors.bubblegum');
  --shiki-token-string-expression: theme('colors.bubblegum');
  --shiki-token-punctuation: theme('colors.bubblegum');
}

@tailwind base;
@tailwind components;
@tailwind utilities;
